<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../styles/heading.css" />
  <link rel="stylesheet" href="../../styles/button_match1.css" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{name}}</title>
</head>

<body>
    <div id="container"><h1 class="style-1">{{name}}</h1></div>
    <div id="container"><h1 class="style-2">{{country}}</h1></div>
    <div id="container"><h1 class="style-3">UEFA COEFFICIENT: {{coefficient}}</h1></div>
    <div class ="wrap">
    
                
        <button id="button"><a href="./{{id}}/results/">RESULTS</a></button>
        <button id="button"><a href="./{{id}}/schedule/">SCHEDULE</a></button>
        <button id="button"><a href="./{{id}}/standings/">STANDINGS</a></button>
        </div>
  
</body>